<!DOCTYPE html>
<html lang="en-US" ng-app="Simulator">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/controllers.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.css">

    <style>
        body {
            padding-top: 20px;
        }

        table {
            width: 100%;
        }
    </style>

</head>

<body ng-controller="MainController">

    <div class="row">

        <div class="small-12 columns">
            <p>Número de bolas :
                <input type="number" ng-model="numeroBolas">
                <button ng-click="runSimulation(numeroBolas)">Iniciar</button>
            </p>

            <h1>Resultado</h1>
            <h3>Numero de bolas que sairam: {{report.balls.length}}</h3>
            <h3>Bola que mais saiu: {{ report.bestBall[0] }} ({{ report.bestBall[1] }} vezes, {{ report.bestBall[1] * 100 / report.total | number:1 }}%)</h3>
            <h3>Bola que menos saiu: {{ report.worstBall[0] }} ({{ report.worstBall[1] }} vezes, {{ report.worstBall[1] * 100 / report.total | number:1 }}%)</h3>
        </div>

        <div class="small-12 large-6 columns">

            <h2>Chances</h2>
            <table>
                <tr>
                    <th>Tipo</th>
                    <th>Resultados</th>
                    <th>%</th>
                </tr>
                <tr ng-repeat="item in report.chances">
                    <td>{{item[0]}}</td>
                    <td>{{item[1]}}</td>
                    <td>{{ item[1] * 100 / report.total | number:1 }}</td>
                </tr>
            </table>
        </div>

        <div class="small-12 large-6 columns">

            <h2>Bolas</h2>
            <table>
                <tr>
                    <th>Bola</th>
                    <th>Resultados</th>
                    <th>%</th>
                </tr>
                <tr ng-repeat="ball in report.balls">
                    <td>{{ball[0]}}</td>
                    <td>{{ball[1]}}</td>
                    <td>{{ ball[1] * 100 / report.total | number:1 }}</td>
                </tr>
            </table>

        </div>

    </div>

</body>

</html>
