<!DOCTYPE html>
<html lang="en-US" ng-app="Simulator">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/controllers.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.css">

    <style>
        body {
            padding-top: 20px;
        }

        table {
            width: 100%;
        }

        a.button {
            cursor: pointer;
        }

    </style>

</head>

<body ng-controller="MainController">

    <div class="row">

        <div class="small-12 columns">

            <div class="bets">
                <h3>Suas apostas:</h3>
                <ul class="button-group even-5">
                    <li><a ng-class="{ secondary: !bets.black }" class="button small" ng-click="toggleBet('black')">Preto</a></li>
                    <li><a ng-class="{ secondary: !bets.red }" class="button small" ng-click="toggleBet('red')">Vermelho</a></li>
                    <li><a ng-class="{ secondary: !bets.even }" class="button small" ng-click="toggleBet('even')">Par</a></li>
                    <li><a ng-class="{ secondary: !bets.odd }" class="button small" ng-click="toggleBet('odd')">Ímpar</a></li>
                    <li><a ng-class="{ secondary: !bets.zero }" class="button small" ng-click="toggleBet('zero')">Zero</a></li>
                </ul>

            </div>

            <div>
                <label>Número de bolas:</label>
                <input type="number" ng-model="numeroBolas">
                <button class="expand" ng-click="runSimulation(numeroBolas)">Iniciar</button>
            </div>

            <h1>Resultado</h1>
            <h5>Dinheiro: {{report.money}}</h5>
            <h5>Bolas que ganhou: {{report.bets.won}}</h5>
            <h5>Bolas que perdeu: {{report.bets.lost}}</h5>
            <h5>Bolas que empatou: {{report.bets.tie}}</h5>

            <h5>Numero de bolas que sairam: {{report.balls.length}}</h5>
            <h5>Bola que mais saiu: {{ report.bestBall[0] }} ({{ report.bestBall[1] }} vezes, {{ report.bestBall[1] * 100 / report.total | number:1 }}%)</h5>
            <h5>Bola que menos saiu: {{ report.worstBall[0] }} ({{ report.worstBall[1] }} vezes, {{ report.worstBall[1] * 100 / report.total | number:1 }}%)</h5>
        </div>

        <div class="small-12 medium-6 columns">

            <h3>Chances</h3>
            <table>
                <tr>
                    <th>Tipo</th>
                    <th>Resultados</th>
                    <th>%</th>
                </tr>
                <tr ng-repeat="item in report.chances">
                    <td>{{item[0]}}</td>
                    <td>{{item[1]}}</td>
                    <td>{{ item[1] * 100 / report.total | number:1 }}</td>
                </tr>
            </table>
        </div>

        <div class="small-12 medium-6 columns">

            <h3>Bolas</h3>
            <table>
                <tr>
                    <th>Bola</th>
                    <th>Resultados</th>
                    <th>%</th>
                </tr>
                <tr ng-repeat="ball in report.balls">
                    <td>{{ball[0]}}</td>
                    <td>{{ball[1]}}</td>
                    <td>{{ ball[1] * 100 / report.total | number:1 }}</td>
                </tr>
            </table>

        </div>

    </div>

</body>

</html>
